<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Edit Order</strong>
          </div>
          <div class="card-block">
          <%= render 'form_edit' %> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>

<%= javascript_include_tag 'edit-datepicker.js' %>
<%= javascript_include_tag 'textarea.js' %>

