<div class="container-fluid mt-3">
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>New House Promo</strong>
          </div>
          <div class="card-block">
          <%= render 'house_form' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
