<h5>Newsletter</h5><br>
<div class="site_checkboxes">
  <%= collection_check_boxes(:user, :site_ids, Site.all, :id, :name) do |b| %>
    <div class="form-check">
      <label class="form-check-label">
      <%= b.check_box(class: 'form-check-input') %>
      <%= b.label %>
      </label>
    </div>
  <% end %>
</div>
