<div class="container-fluid">
  <div class="animated fadeIn">
    <div class="row">
     	<div class="col-sm-6">
		<div class="card">
			<div class="card-header">
				<strong>Edit Site</strong>
				<small></small>
			</div>
			<div class="card-block">
    			<%= render 'form' %> 
	      	</div>
	      		<% link_to 'Show', @site %>
				<% link_to 'Back', sites_path %>
      	</div>
      </div>
    </div>
	</div>
</div>
