.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #252525;
}

a {
  text-decoration: none;
  color: #252525;
}

.nav {
  background-color: #d0e4cb;
}

.avatar {
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}

.avatar-small {
  height: 40px;
  border-radius: 50%;
  margin: 0px 10px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.navbar-left {
    float: left!important;
    margin-left: 15px;
}

.navbar-right {
    float: right!important;
    margin-right: 15px;
}

.btn {
  text-transform: uppercase;
  margin: 35px auto;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.29);
  cursor: pointer;
  background: #fff;
  font-size: 16px;
  width: 250px;
  position: relative;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
}

.btn:focus {
  outline: 0;
  font-weight: 700;
  border-width: 2px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}

.nav {
  overflow: hidden
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.nav li:first-child {
  padding-left: 0;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
  padding: 10px;
  text-decoration: none;
}

textarea {
  padding: 15px
}

/* .option-input {
    padding: 15px
} */
